//*** Buttons ***//
$btn-default-bg-color: white;
$btn-default-border: 1px solid #e5e5e5;
$btn-default-border-radius: 5px;
$btn-default-padding: 0.7rem 1.5rem;

@mixin buttons() {
	button {
		@include button();
	}
}

@mixin button($bg-color: $btn-default-bg-color, $border: $btn-default-border, $border-radius: $btn-default-border-radius, $padding: $btn-default-padding) {
	background-color: $bg-color;
	border: $border;
	border-radius: $btn-default-border-radius;
	padding: $padding;

	cursor: pointer;
}