@import 'mixins/font-face';

@include font-face(OpenSans, '../assets/fonts/OpenSans-ExtraBold', 700, normal, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-ExtraBoldItalic', 700, italic, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-Bold', 600, normal, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-BoldItalic', 600, italic, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-SemiBold', 500, normal, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-SemiBoldItalic', 500, italic, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-Regular', 400, normal, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-RegularItalic', 400, italic, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-Light', 300, normal, ttf);
@include font-face(OpenSans, '../assets/fonts/OpenSans-LightItalic', 300, italic, ttf);

// Links
a {
	text-decoration: none;
	color: $link-color;
	&:visited {
		color: $link-color;
	}
}

// Headers
h2 {
	margin: 0;
	font-size: 1.5rem;
	@include breakpoint($bp-small) {
		font-size: 1.8rem;
	}
	@include breakpoint($bp-medium) {
		font-size: 2rem;
	}

	width: max-content;
}
h3 {
	font-weight: 500;

	margin: 0;
	font-size: 1.3rem;
	@include breakpoint($bp-small) {
		font-size: 1.5rem;
	}
	@include breakpoint($bp-medium) {
		font-size: 1.7rem;
	}
}