@import 'mixins/font-face';
@import 'grid';

// @include font-face(Montserrat, 'assets/fonts/Montserrat-Black', 700, normal, otf);
// @include font-face(Montserrat, 'assets/fonts/Montserrat-Bold', 600, normal, otf);
// @include font-face(Montserrat, 'assets/fonts/Montserrat-Regular', 400, normal, otf);
// @include font-face(Montserrat, 'assets/fonts/Montserrat-Light', 300, normal, otf);
// @include font-face(Montserrat, 'assets/fonts/Montserrat-Hairline', 200, normal, otf);

@include font-face(Oswald, '../assets/fonts/Oswald-Bold', 600, normal, ttf);
@include font-face(Oswald, '../assets/fonts/Oswald-Regular', 400, normal, ttf);
@include font-face(Oswald, '../assets/fonts/Oswald-Light', 300, normal, ttf);
@include font-face(Slabo, '../assets/fonts/Slabo13px-Regular', 400, normal, ttf);

$base-font-family: 'Montserrat';

// Headers
h2 {
	margin: 0;
	font-size: 1.5rem;
	@include breakpoint($bp-small) {
		font-size: 1.8rem;
	}
	@include breakpoint($bp-medium) {
		font-size: 2rem;
	}

	color: white;
	width: max-content;
}
h3 {
	font-weight: 500;

	margin: 0;
	font-size: 1.3rem;
	@include breakpoint($bp-small) {
		font-size: 1.5rem;
	}
	@include breakpoint($bp-medium) {
		font-size: 1.7rem;
	}
}

@mixin fonts() {
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	text-rendering: optimizeLegibility;

	@include font();
}

@mixin font($font-family: $base-font-family, $font-color: white, $font-weight: 400) {
	font-family: $font-family;
	color: $font-color;
	font-weight: $font-weight;
}